:root{
    --main-dark-theme: #212529;
    --alt-dark-theme : #2f353a;
}

body{
    background-color: var(--alt-dark-theme);
    font-family: arial;
    color:white
}
#indeximgnav{
    height: 100px;
}


.nav-btn{
    transition: 0.5s;
    border:none;
    background-color: var(--main-dark-theme);
    border: var(--main-dark-theme) 2px solid;
    border-bottom: gold 2px solid;
    font-size: 20px;
    color:white;
    margin-left:20px;
}
.nav-btn:hover{
    transition: 0.5s;
    border: gold 2px solid;
    border-radius: 22px;
    background-color: var(--alt-dark-theme);
    padding: 0px 20px 0px 20px;
}
.nav-div-button{
    border-bottom: white 2px solid;
    padding-bottom: 20px;
    text-align: center;
    padding-top: 20px;
    width:100%;
}
.index-card-position{
    width: max(400px, 50%);
    margin:auto;
    margin-top: 100px;
    border:white 3px solid;
    color:black;
}
.footer{
    text-align: center;
    padding: 20px 0 20px 0;
    margin-top: 100px;
    border-top: 2px solid white;
}
.updated{
    overflow: auto;
    max-height: 300px;
}

