:root{
    --main-dark-theme: #212529;
    --alt-dark-theme : #2f353a;
    --cyan-green: rgb(47, 231, 185)
}

.onemusic{
    text-align: left;
}
#mediaplayerdiv{
    position: fixed;
    bottom: 0;
    left:0;
    right:0;
    border-top: solid 2px rgb(47, 231, 185);
    background-color: var(--main-dark-theme);
    height: 85px;
    width: 100%;
    user-select: none;
}
#mediaplayerdiv label{
    position: absolute;
    text-align: center;
    width: 100vw;
    top :10px;
    
}

#wrapper{
    display: flex;
    margin-left: 25px;
    margin-right:25px;
}
.wr1{
    flex:0 0 50px;
    margin-right: 25px;
    margin-left: 25px;
    margin-top: -10px;
}
.wr1 img{
    height: 50px
}
#totaltime,
#currenttime,
#play_pause,
#volume{
    position: relative;
    flex:1;
    
}
#totaltime,
#currenttime{
    top: 17px;
}
#totaltime{
    margin-left: 10px;
}
#currenttime{
    text-align: right;
    margin-right: 10px;
}
#songfullbar{
    background-color: white;
    border-radius: 10px;
    position: relative;
    height:15px;
    width:50vw;
    top:20px;
}
#songbar{
    background-color: var(--cyan-green);
    border-radius: 10px;
    width:0;
    height:15px;
    max-width: 50vw;
}

.btn_play_pause,
.btn_volume{
    background-color: rgba(240, 248, 255, 0);
    color:var(--cyan-green);
    position: relative;
    border:none;
    height:50px;
    top:-10px;
    
}
.btn_play_pause{
   position: relative;
   left: -20px;
}
.btn_volume{
    position: relative;
    right: -20px;
}
#volume_div{
    text-align: center;
    background-color: var(--main-dark-theme);
    padding: 10px;
    border:solid 2px var(--cyan-green);
    border-bottom: solid 2px var(--main-dark-theme);
    position: fixed;
    top:0px;
}

.mikudayo{
    display: none;
}


.rotate{
    animation: rotation 30s infinite linear
}
@keyframes rotation {
    from {
        transform: rotate(359deg);
    }
    to {
        transform: rotate(0deg);
    }
}
#musicnb{
    margin-top: 20px;
}

#musicfulldiv{
    margin-left: 2.5vw;
    margin-right: 5%;
    margin-top: 50px;
}
.context{
    margin-left: 2.5vw;
    color: #6b7177;
    max-width: 80%;
}
.onemusic{
    border-left: white 2px solid;
    border-top-left-radius: 30px;
    border-top: white 2px solid;
    padding-left: 2.5vw;
    margin-top: 20px;
    cursor:pointer;
}
.currentsong{
    box-shadow: 0px 10px 5px var(--main-dark-theme);
    border-top: var(--cyan-green) 2px solid;
    border-left: var(--cyan-green) 2px solid;
    background-color: var(--main-dark-theme);
    border-bottom-right-radius: 30px;
    color:var(--cyan-green);
}
.dl_btn{
    background-color: transparent;
    margin-right: -20px;
    position: absolute;
    text-align: right;
    margin-top: -35px;
    color:inherit;
    border: none;
    left: 82.5%;
}
.dl_btn:hover{
    color:gold
}